.header{
    position: relative;
    border-bottom: 1px black solid;
    display: flex;
    justify-content: center;
}

.header_logo{
    width: 75px;
    text-align: center;
    margin-right: 100px;
}

.menu{
    display: flex;
    margin-right: 20px;
}

.menu_element{
    margin-right: 20px;
    cursor: pointer;
}